<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.mapper.WalletMapper">
    <insert id="log">
        insert into log (name, refund, balance)
        values (#{name},#{refund}, (select balance from client where name = #{name})+#{refund})
    </insert>
    <update id="reduce">
        insert into log (name, spend, balance)
        values (#{name},#{spend}, (select balance from client where name = #{name})-#{spend})
    </update>
</mapper>